<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Almuerzi Web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/main.css" type="text/css">
    </head>

    <body>

        <div id="meals">
            <ul id="meals-list">
                <p id="cargando" >Cargando...</p>
            </ul>
            <form>
                <input type="hidden" />
                <input id="submit" type="submit" />
            </form>
        </div>

        <div id="orders">
            <ul id="orders-list">
                <li>Hamburguer - Shirley</li>
                <li>Cangrejo - Emmanuel</li>
                <li>Hamburguesa - Felipe</li>
            </ul>
        </div>

        <script src="../js/main.js"></script>
    </body>

    </html>