<html>

<head>
    <meta charset="utf-8" />
    <title>Almuerzi Web</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
</head>

<body>
    <div id="app"></div>
</body>

<!-- Se crean fuera para que cuando se cambie de una a otra no se elimine la que estaba antes. -->
<template id="login-view">
    <div class="form-main">
        <p class="form-title">Inicia Sesión</p>
        <form id="login-form" class="login-form">
            <div>
                <p>Correo eléctronico: </p>
                <input id="email" placeholder="Nombre de usuario" />
            </div>
            <div>
                <p>Contraseña: </p>
                <input id="password" type="password" placeholder="Contraseña" />
            </div>
            <div>
                <button class="btn block">Enviar</button>
            </div>

        </form>
    </div>
</template>
<template id="orders-view">
    <div id="meals">
        <ul id="meals-list">
            <p id="cargando">Cargando...</p>
        </ul>
        <form id="order">
            <input id="mealsId" type="hidden" />
            <button id="submit" disabled>Enviar</button>
        </form>
    </div>
    <div id="orders">
        <ul id="orders-list">
            <p id="cargando">Cargando...</p>
        </ul>
    </div>
</template>
<script src="../js/main.js"></script>

</html>